body {
    background: #E7EBF0E5;
    margin: 0px;
    font-family: Roboto, 'Source Sans Pro';
}

.button {
    background-color: #E7EBF0;
    color: black;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Roboto, 'Source Sans Pro';
    border: #4e4e4e;
}

.button:hover {
    background-color: #BBBBBB;
    border-color: #BBBBBB;
}

.header {
    width: 1920px;
    height: 145px;
    position: relative;
}

.add_test_button {
    width: 224px;
    height: 60px;
    top: 44px;
    left: 1312px;
    border-radius: 100px;
    position: absolute;
}

.header__profile {
    width: 300px;
    height: 145px;
    left: 1572px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header__profile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__profile-image {
    width: 118.56px;
    height: 115.98px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.header__profile-image img {
    width: 118.56px;
    height: 115.98px;
}

.header__profile-user-data {
    width: 72.81px;
    height: 59.65px;
    position: absolute;
    top: 44px;
    left: 192px;
}

.header__blackbar {
    background: black;
    height: 100px;
    top: 145px;
    position: relative;
}

.answers__forms__button {
    width: 250px;
    height: 60px;
    top: 20px;
    left: 71px;
    border-radius: 10px;
    position: absolute;
}

.my__classes {
    /* Показать окно со списком классов и учеников */
    display: none;
    position: relative;
    width: 800px;
    height: 650px;
    top: 150px;
    left: 59px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my__classes-title {
    width: 250px;
    height: 52px;
    top: 75px;
    left: 76px;
    position: absolute;
    text-align: center;
    font-size: 24px;
}

.my__classes-list {
    width: 310px;
    height: 320px;
    position: absolute;
    top: 154px;
    left: 36px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my__classes-list table {
    border-spacing: 26px;
    color: rgba(65, 75, 90, 1);
    display: block;
}

.my__classes-list table tbody {
    display: block;
    overflow-y: auto;
    max-height: 240px;
}

.my__classes-list-button {
    cursor: pointer;
    transition: background-color 0.3s;
    border: #4e4e4e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #E7EBF0;
    border-radius: 10px;
}

.my__classes-list-button:hover {
    background-color: #BBBBBB;
}

.class_name {
    cursor: pointer;
    transition: color 0.3s;
}

.class_name:hover {
    color: #BBBBBB;
}

.class_name_column {
    display: flex;
    position: absolute;
    top: 10px;
    left: 8px;
}

.student_count_column {
    display: flex;
    position: absolute;
    top: 10px;
    left: 86px;
}

.students__list {
    width: 370px;
    height: 320px;
    position: absolute;
    top: 154px;
    left: 389px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.students__list-class-name-title {
    width: 370px;
    height: 29px;
    position: relative;
    text-align: center;
    font-size: 18px;
}

.students__list table {
    color: rgba(65, 75, 90, 1);
    width: 370px;
    height: 273px;
    border-spacing: 12px;
    flex-direction: column;
    display: flex;
}

.students__list table thead {
    position: absolute;
    height: 50px;
    width: 370px;
}

.status_column {
    display: flex;
    position: absolute;
    top: 12px;
    left: 12px;
}

.name_column {
    display: flex;
    position: absolute;
    top: 12px;
    left: 88px;
}

.id_column {
    display: flex;
    position: absolute;
    top: 12px;
    left: 255px;
}

.delete_button_column {
    display: flex;
    position: absolute;
    top: 12px;
    left: 312px;
}

.students__list table tbody {
    display: block;
    overflow-y: auto;
    max-height: 214px;
    margin-top: 50px;
}

.students__list-delete-student-button {
    cursor: pointer;
    transition: background-color 0.3s;
    border: #4e4e4e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #E7EBF0;
    border-radius: 10px;
}

.students__list-delete-student-button:hover {
    background-color: #BBBBBB;
}

.add_class_button {
    width: 224px;
    height: 60px;
    top: 540px;
    left: 257px;
    border-radius: 100px;
    position: absolute;
}

.delete__class__confirmation {
    /* Показать окно подтверждения удаления класса */
    display: none;
    position: absolute;
    width: 750px;
    height: 270px;
    top: 501px;
    left: 484px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete__class__confirmation-title {
    font-size: 24px;
    width: 750px;
    height: 52px;
    top: 60px;
    position: relative;
    text-align: center;
}

.confirm_class_deletion_button {
    width: 150px;
    height: 60px;
    top: 175px;
    left: 150px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(212, 109, 109, 1);
    transition: background-color 0.3s;
}

.confirm_class_deletion_button:hover {
    background-color: rgb(145, 71, 71);
}

.reject_class_deletion_button {
    width: 150px;
    height: 60px;
    top: 175px;
    left: 450px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;

}

.delete__student__confirmation {
    /* Показать окно подтверждения удаления студента */
    display: none;
    position: absolute;
    width: 750px;
    height: 270px;
    top: 501px;
    left: 484px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete__student__confirmation-title {
    font-size: 24px;
    width: 750px;
    height: 52px;
    top: 60px;
    position: relative;
    text-align: center;
}

.confirm_student_deletion_button {
    width: 150px;
    height: 60px;
    top: 175px;
    left: 150px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(212, 109, 109, 1);
    transition: background-color 0.3s;
}

.confirm_student_deletion_button:hover {
    background-color: rgb(145, 71, 71);
}

.reject_student_deletion_button {
    width: 150px;
    height: 60px;
    top: 175px;
    left: 450px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
}

.add__class__form {
    /* Показать окно добавления класса */
    display: none;
    position: absolute;
    width: 750px;
    height: 650px;
    top: 295px;
    left: 1111px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add__class__form-title {
    width: 250px;
    height: 52px;
    top: 93px;
    left: 250px;
    position: absolute;
    text-align: center;
    font-size: 24px;
}

.create_class_button {
    width: 150px;
    height: 60px;
    top: 540px;
    left: 301px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
}

.input {
    border-radius: 10px;
    border: 1px solid #E7EBF0;
    background-color: #E7EBF0;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.class_name_input {
    width: 427px;
    height: 38px;
    top: 187px;
    left: 162px;
}

.students_count_input {
    width: 427px;
    height: 38px;
    top: 253px;
    left: 162px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.add__student__form {
    /* Показать окно добавления студентов */
    display: none;
    position: absolute;
    width: 750px;
    height: 420px;
    top: 293px;
    left: 990px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add__student__form-title {
    width: 250px;
    height: 52px;
    top: 60px;
    left: 250px;
    position: absolute;
    text-align: center;
    font-size: 24px;
}

.student_name_input {
    width: 427px;
    height: 38px;
    top: 154px;
    left: 162px;
}

.student_surname_input {
    width: 427px;
    height: 38px;
    top: 220px;
    left: 162px;
}

.add_student_button {
    width: 150px;
    height: 60px;
    top: 300px;
    left: 301px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
}

.create__test__form {
    /* Показать окно добавления тестов */
    display: none;
    position: absolute;
    width: 750px;
    height: 650px;
    top: 295px;
    left: 1111px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create__test__form-title {
    width: 250px;
    height: 52px;
    left: 250px;
    position: absolute;
    text-align: center;
    font-size: 24px;
}

.class__name__select {
    width: 427px;
    height: 38px;
    top: 67px;
    left: 161px;
    position: absolute;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: rgba(231, 235, 240, 1);
    border: none;
}

select:focus {
    outline: none;
}

.test_name_input {
    width: 427px;
    height: 38px;
    top: 288px;
    left: 162px;
}

.questions__number__select {
    width: 427px;
    height: 38px;
    top: 346px;
    left: 161px;
    position: absolute;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: rgba(231, 235, 240, 1);
    border: none;
}

.create__test__button {
    width: 150px;
    height: 60px;
    top: 567px;
    left: 300px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
}

.teacher__profile {
    /* Показать окно профиля учителя */
    display: none;
    position: absolute;
    width: 1100px;
    height: 650px;
    top: 295px;
    left: 59px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teacher__profile-title {
    display: flex;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 37px;
    top: 25px;
    left: 25px;
    font-size: 24px;
}

.teacher__profile-blackbar {
    position: absolute;
    background: black;
    height: 50px;
    top: 73px;
    left: 0;
    width: 100%;
}

.teacher__profile-info {
    border-radius: 10px; 
    position: relative;
    width: 395px;
    height: 380px;
    top: 160px;
    left: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teacher__profile-info,
.teacher__profile-info * {
    box-sizing: border-box;
}

.teacher__profile-info label {
    margin-top: 23px;
    padding: 10px;
    margin-right: 20px;
    position: absolute;
}

.teacher__profile-info input {
    margin-top: 23px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(231, 235, 240, 1);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    margin-left: 104px;
}

.teacher__profile-info input:hover {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.7);
}

.teacher__profile-tests {
    border-radius: 10px; 
    position: absolute;
    width: 412px;
    height: 380px;
    top: 160px;
    left: 444px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teacher__profile-tests-title {
    width: 172px;
    height: 52px;
    left: 119px;
    position: absolute;
    text-align: center;
    font-size: 24px;
}

.teacher__profile-tests-list {
    display: flex;
    position: relative;
    width: 355px;
    height: 180px;
    top: 52px;
    left: 28px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.teacher__profile-tests-list li {
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
    transition: background-color 0.3s
}

.teacher__profile-tests-list li:hover {
    background-color: #BBBBBB;
}

.open_test_button {
    width: 150px;
    height: 60px;
    top: 278px;
    left: 130px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    border-radius: 10px; 
}

.teacher-profile-logout-button {
    width: 150px;
    height: 60px;
    top: 574px;
    left: 20px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    border-radius: 10px; 
}

.to-main-page-button {
    width: 150px;
    height: 60px;
    top: 574px;
    left: 190px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    border-radius: 10px; 
}

.test__menu {
    /* Показать меню теста */
    display: none;
    position: absolute;
    width: 750px;
    height: 650px;
    top: 295px;
    left: 1111px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test__menu-title {
    display: flex;
    align-items: center;
    position: absolute;
    width: 172px;
    height: 52px;
    top: 42px;
    left: 290px;
    font-size: 24px;   
}

.test__menu-info {
    border-radius: 10px; 
    position: relative;
    width: 380px;
    height: 217px;
    top: 124px;
    left: 140px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test__menu-info,
.test__menu-info * {
    box-sizing: border-box;
}

.test__menu-info label {
    margin-top: 23px;
    padding: 10px;
    position: absolute;
}

.test__menu-info input {
    margin-left: 145px;
    margin-top: 23px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(231, 235, 240, 1);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

.test__menu-info input:hover {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.7);
}

.configure-keys-button {
    width: 180px;
    height: 40px;
    top: 364px;
    left: 285px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    border-radius: 10px; 
}

.results-button {
    width: 180px;
    height: 40px;
    top: 427px;
    left: 285px;
    position: absolute;
    font-size: 18px;
    text-align: center; 
    border-radius: 10px;  
}

.to-profile-page-button {
    width: 150px;
    height: 60px;
    top: 490px;
    left: 300px;
    position: absolute;
    font-size: 18px;
    text-align: center; 
    border-radius: 10px; 
}
