body {
    background: #E7EBF0E5;
    margin: 0px;
    font-family: Roboto, 'Source Sans Pro';
}

.button {
    background-color: #E7EBF0;
    color: black;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Roboto, 'Source Sans Pro';
    border: #4e4e4e;
}

.button:hover {
    background-color: #BBBBBB;
    border-color: #BBBBBB;
}

.header {
    width: 1920px;
    height: 145px;
    position: relative;
}

.add_test_button {
    width: 224px;
    height: 60px;
    top: 44px;
    left: 1312px;
    border-radius: 100px;
    position: absolute;
}

.header__profile {
    width: 300px;
    height: 145px;
    left: 1572px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header__profile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__profile-image {
    width: 118.56px;
    height: 115.98px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.header__profile-image img {
    width: 118.56px;
    height: 115.98px;
}

.header__profile-user-data {
    width: 72.81px;
    height: 59.65px;
    position: absolute;
    top: 44px;
    left: 192px;
}

.header__blackbar {
    background: black;
    height: 100px;
    top: 145px;
    position: relative;
}

.answers__forms__button {
    width: 250px;
    height: 60px;
    top: 20px;
    left: 71px;
    border-radius: 10px;
    position: absolute;
}

.my__classes {
    /* Показать окно со списком классов и учеников */
    /* display: none; */
    position: relative;
    width: 800px;
    height: 650px;
    top: 150px;
    left: 59px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my__classes-title {
    width: 250px;
    height: 52px;
    top: 75px;
    left: 76px;
    position: absolute;
    text-align: center;
    font-size: 24px;
}

.my__classes-list {
    width: 310px;
    height: 320px;
    position: absolute;
    top: 154px;
    left: 36px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my__classes-list table {
    border-spacing: 26px;
    color: rgba(65, 75, 90, 1);
    display: block;
}

.my__classes-list table tbody {
    display: block;
    overflow-y: auto;
    max-height: 240px;
}

.my__classes-list-button {
    cursor: pointer;
    transition: background-color 0.3s;
    border: #4e4e4e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #E7EBF0;
    border-radius: 10px;
}

.my__classes-list-button:hover {
    background-color: #BBBBBB;
}

.class_name {
    cursor: pointer;
    transition: color 0.3s;
}

.class_name:hover {
    color: #BBBBBB;
}

.class_name_column {
    display: flex;
    position: absolute;
    top: 10px;
    left: 8px;
}

.student_count_column {
    display: flex;
    position: absolute;
    top: 10px;
    left: 86px;
}

.students__list {
    width: 370px;
    height: 320px;
    position: absolute;
    top: 154px;
    left: 389px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.students__list-class-name-title {
    width: 370px;
    height: 29px;
    position: relative;
    text-align: center;
    font-size: 18px;
}

.students__list table {
    color: rgba(65, 75, 90, 1);
    width: 370px;
    height: 273px;
    border-spacing: 12px;
    flex-direction: column;
    display: flex;
}

.students__list table thead {
    position: absolute;
    height: 50px;
    width: 370px;
}

.status_column {
    display: flex;
    position: absolute;
    top: 12px;
    left: 12px;
}

.name_column {
    display: flex;
    position: absolute;
    top: 12px;
    left: 88px;
}

.id_column {
    display: flex;
    position: absolute;
    top: 12px;
    left: 255px;
}

.delete_button_column {
    display: flex;
    position: absolute;
    top: 12px;
    left: 312px;
}

.students__list table tbody {
    display: block;
    overflow-y: auto;
    max-height: 214px;
    margin-top: 50px;
}

.students__list-delete-student-button {
    cursor: pointer;
    transition: background-color 0.3s;
    border: #4e4e4e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #E7EBF0;
    border-radius: 10px;
}

.students__list-delete-student-button:hover {
    background-color: #BBBBBB;
}

.add_class_button {
    width: 224px;
    height: 60px;
    top: 540px;
    left: 257px;
    border-radius: 100px;
    position: absolute;
}

.delete__class__confirmation {
    /* Показать окно подтверждения удаления класса */
    display: none;
    position: absolute;
    width: 750px;
    height: 270px;
    top: 501px;
    left: 484px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete__class__confirmation-title {
    font-size: 24px;
    width: 750px;
    height: 52px;
    top: 60px;
    position: relative;
    text-align: center;
}

.confirm_class_deletion_button {
    width: 150px;
    height: 60px;
    top: 175px;
    left: 150px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(212, 109, 109, 1);
    transition: background-color 0.3s;
}

.confirm_class_deletion_button:hover {
    background-color: rgb(145, 71, 71);
}

.reject_class_deletion_button {
    width: 150px;
    height: 60px;
    top: 175px;
    left: 450px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;

}

.delete__student__confirmation {
    /* Показать окно подтверждения удаления студента */
    display: none;
    position: absolute;
    width: 750px;
    height: 270px;
    top: 501px;
    left: 484px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete__student__confirmation-title {
    font-size: 24px;
    width: 750px;
    height: 52px;
    top: 60px;
    position: relative;
    text-align: center;
}

.confirm_student_deletion_button {
    width: 150px;
    height: 60px;
    top: 175px;
    left: 150px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(212, 109, 109, 1);
    transition: background-color 0.3s;
}

.confirm_student_deletion_button:hover {
    background-color: rgb(145, 71, 71);
}

.reject_student_deletion_button {
    width: 150px;
    height: 60px;
    top: 175px;
    left: 450px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
}

.add__class__form {
    /* Показать окно добавления класса */
    display: none;
    position: absolute;
    width: 750px;
    height: 650px;
    top: 295px;
    left: 1111px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add__class__form-title {
    width: 250px;
    height: 52px;
    top: 93px;
    left: 250px;
    position: absolute;
    text-align: center;
    font-size: 24px;
}

.create_class_button {
    width: 150px;
    height: 60px;
    top: 540px;
    left: 301px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
}

.input {
    border-radius: 10px;
    border: 1px solid #E7EBF0;
    background-color: #E7EBF0;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.class_name_input {
    width: 427px;
    height: 38px;
    top: 187px;
    left: 162px;
}

.students_count_input {
    width: 427px;
    height: 38px;
    top: 253px;
    left: 162px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.add__student__form {
    /* Показать окно добавления студентов */
    display: none;
    position: absolute;
    width: 750px;
    height: 420px;
    top: 293px;
    left: 990px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add__student__form-title {
    width: 250px;
    height: 52px;
    top: 60px;
    left: 250px;
    position: absolute;
    text-align: center;
    font-size: 24px;
}

.student_name_input {
    width: 427px;
    height: 38px;
    top: 154px;
    left: 162px;
}

.student_surname_input {
    width: 427px;
    height: 38px;
    top: 220px;
    left: 162px;
}

.add_student_button {
    width: 150px;
    height: 60px;
    top: 300px;
    left: 301px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
}

.create__test__form {
    /* Показать окно добавления тестов */
    display: none;
    position: absolute;
    width: 750px;
    height: 650px;
    top: 295px;
    left: 1111px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create__test__form-title {
    width: 250px;
    height: 52px;
    left: 250px;
    position: absolute;
    text-align: center;
    font-size: 24px;
}

.class__name__select {
    width: 427px;
    height: 38px;
    top: 67px;
    left: 161px;
    position: absolute;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: rgba(231, 235, 240, 1);
    border: none;
}

select:focus {
    outline: none;
}

.test_name_input {
    width: 427px;
    height: 38px;
    top: 288px;
    left: 162px;
}

.questions__number__select {
    width: 427px;
    height: 38px;
    top: 346px;
    left: 161px;
    position: absolute;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: rgba(231, 235, 240, 1);
    border: none;
}

.create__test__button {
    width: 150px;
    height: 60px;
    top: 567px;
    left: 300px;
    position: absolute;
    font-size: 18px;
    border-radius: 10px;
}

.teacher__profile {
    /* Показать окно профиля учителя */
    display: none;
    position: absolute;
    width: 1100px;
    height: 650px;
    top: 295px;
    left: 59px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teacher__profile-title {
    display: flex;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 37px;
    top: 25px;
    left: 25px;
    font-size: 24px;
}

.teacher__profile-blackbar {
    position: absolute;
    background: black;
    height: 50px;
    top: 73px;
    left: 0;
    width: 100%;
}

.teacher__profile-info {
    border-radius: 10px; 
    position: relative;
    width: 395px;
    height: 380px;
    top: 160px;
    left: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teacher__profile-info,
.teacher__profile-info * {
    box-sizing: border-box;
}

.teacher__profile-info label {
    margin-top: 23px;
    padding: 10px;
    margin-right: 20px;
    position: absolute;
}

.teacher__profile-info input {
    margin-top: 23px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(231, 235, 240, 1);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    margin-left: 104px;
}

.teacher__profile-info input:hover {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.7);
}

.teacher__profile-tests {
    border-radius: 10px; 
    position: absolute;
    width: 412px;
    height: 380px;
    top: 160px;
    left: 444px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teacher__profile-tests-title {
    width: 172px;
    height: 52px;
    left: 119px;
    position: absolute;
    text-align: center;
    font-size: 24px;
}

.teacher__profile-tests-list {
    display: flex;
    position: relative;
    width: 355px;
    height: 180px;
    top: 52px;
    left: 28px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.teacher__profile-tests-list li {
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
    transition: background-color 0.3s
}

.teacher__profile-tests-list li:hover {
    background-color: #BBBBBB;
}

.open_test_button {
    width: 150px;
    height: 60px;
    top: 278px;
    left: 130px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    border-radius: 10px; 
}

.teacher-profile-logout-button {
    width: 150px;
    height: 60px;
    top: 574px;
    left: 20px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    border-radius: 10px; 
}

.to-main-page-button {
    width: 150px;
    height: 60px;
    top: 574px;
    left: 190px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    border-radius: 10px; 
}

.test__menu {
    /* Показать меню теста */
    display: none;
    position: absolute;
    width: 750px;
    height: 650px;
    top: 295px;
    left: 1111px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test__menu-title {
    display: flex;
    align-items: center;
    position: absolute;
    width: 172px;
    height: 52px;
    top: 42px;
    left: 290px;
    font-size: 24px;   
}

.test__menu-info {
    border-radius: 10px; 
    position: relative;
    width: 380px;
    height: 217px;
    top: 124px;
    left: 140px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test__menu-info,
.test__menu-info * {
    box-sizing: border-box;
}

.test__menu-info label {
    margin-top: 23px;
    padding: 10px;
    position: absolute;
}

.test__menu-info input {
    margin-left: 145px;
    margin-top: 23px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(231, 235, 240, 1);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

.test__menu-info input:hover {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.7);
}

.configure-keys-button {
    width: 180px;
    height: 40px;
    top: 364px;
    left: 285px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    border-radius: 10px; 
}

.results-button {
    width: 180px;
    height: 40px;
    top: 427px;
    left: 285px;
    position: absolute;
    font-size: 18px;
    text-align: center; 
    border-radius: 10px;  
}

.to-profile-page-button {
    width: 150px;
    height: 60px;
    top: 490px;
    left: 300px;
    position: absolute;
    font-size: 18px;
    text-align: center; 
    border-radius: 10px; 
}

.header__login_button {
    top: 50px;
    left: 1320px;
    width: 250px;
    height: 60px;
    border-radius: 100px;
    position: absolute;
}

.header__register_button {
    top: 50px;
    left: 1620px;
    width: 250px;
    height: 60px;
    border-radius: 100px;
    position: absolute;
}

.registration__form {
    /* Показать окно регистрации */
    display: none;
    position: absolute;
    width: 750px;
    height: 600px;
    top: 295px;
    left: 585px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration__form-title {
    display: flex;
    align-items: center;
    position: absolute;
    width: 318px;
    height: 62px;
    top: 18px;
    left: 262px;
    font-size: 24px;
}

.user_surname_input {
    width: 300px;
    height: 38px;
    top: 163px;
    left: 406px;
}

.user_name_input {
    width: 300px;
    height: 38px;
    top: 227px;
    left: 406px;
}

.user_patronymic {
    width: 300px;
    height: 38px;
    top: 291px;
    left: 406px;
}

.user_email_input {
    width: 300px;
    height: 38px;
    top: 227px;
    left: 44px;
}

.user_password_input {
    width: 300px;
    height: 38px;
    top: 290px;
    left: 44px;
}

.registration_button {
    top: 369px;
    left: 250px;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    font-size: 18px;
}

.have_an_account_button {
    top: 454px;
    left: 228px;
    width: 294px;
    height: 27px;
    position: absolute;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.login__form {
        /* Показать окно входа в аккаунт */
    display: none;
    position: absolute;
    width: 750px;
    height: 600px;
    top: 295px;
    left: 585px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login__form-title {
    display: flex;
    text-align: center;
    position: absolute;
    width: 172px;
    height: 52px;
    top: 93px;
    left: 289px;
    font-size: 24px;
    display: inline-block;
}

.user_log_email_input {
    width: 427px;
    height: 38px;
    top: 176px;
    left: 162px;
}

.user_log_password_input {
    width: 427px;
    height: 38px;
    top: 243px;
    left: 162px;
}

.login_button {
    top: 312px;
    left: 300px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    font-size: 18px;
}

.want_to_create_button {
    top: 399px;
    left: 228px;
    width: 294px;
    height: 27px;
    position: absolute;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.forget_password_button {
    top: 454px;
    left: 228px;
    width: 294px;
    height: 27px;
    position: absolute;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.reset__password__form {
    /* Показать окно сброса пароля */
    display: none;
    position: absolute;
    width: 750px;
    height: 500px;
    top: 295px;
    left: 585px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reset__password__form-title {
    display: flex;
    text-align: center;
    position: absolute;
    width: 227px;
    height: 52px;
    top: 93px;
    left: 168px;
    font-size: 24px;
    display: inline-block;    
}

.reset_email_input {
    width: 427px;
    height: 38px;
    top: 176px;
    left: 68px;
}

.reset_code_input {
    width: 427px;
    height: 38px;
    top: 243px;
    left: 68px;
}

.send_code_button {
    top: 176px;
    left: 510px;
    width: 150px;
    height: 38px;
    border-radius: 10px;
    position: absolute;
    font-size: 18px;   
}

.reset_password_button {
    top: 312px;
    left: 206px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    font-size: 18px; 
}

.change__password__form {
    /* Показать окно смены пароля */
    display: none;
    position: absolute;
    width: 750px;
    height: 500px;
    top: 295px;
    left: 585px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.change__password__form-title {
    display: flex;
    text-align: center;
    position: absolute;
    width: 227px;
    height: 52px;
    top: 93px;
    left: 168px;
    font-size: 24px;
    display: inline-block;  
}

.new_password_input {
    width: 426px;
    height: 38px;
    top: 176px;
    left: 68px;
}

.confirm_new_password_input {
    width: 426px;
    height: 38px;
    top: 243px;
    left: 68px;
}

.change_password_button {
    top: 312px;
    left: 206px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    font-size: 18px; 
}

.results__form {
    position: absolute;
    width: 750px;
    height: 650px;
    top: 295px;
    left: 59px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results__form-title {
    display: flex;
    align-items: center;
    position: absolute;
    width: 172px;
    height: 52px;
    top: 42px;
    left: 290px;
    font-size: 24px;   
}

.results__form-list-title {
    display: flex;
    align-items: center;
    width: 370px;
    height: 29px;
    text-align: center;
    position: relative;
}

.results__form-list-title p {
    position: absolute;
    left: 50%;
}

.results__form-list {
    width: 457px;
    height: 320px;
    position: absolute;
    top: 132px;
    left: 43px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results__form-list table {
    border-spacing: 17px;
    color: rgba(65, 75, 90, 1);
    display: block;
}

.results__form-list table tbody {
    display: block;
    overflow-y: auto;
    max-height: 230px;
}

.student_id_column {
    display: flex;
    position: absolute;
    left: 157px;
}

.student_points_column {
    display: flex;
    position: absolute;
    left: 210px;
}

.student_correctness_column {
    display: flex;
    position: absolute;
    left: 272px;
}

.student_name {
    cursor: pointer;
    transition: color 0.3s;
}

.student_name:hover {
    color: #BBBBBB;
}

.test__keys {
    color: rgba(65, 75, 90, 1);
}

.test__key {
    position: absolute;
    width: 338px;
    height: 37px;
    border: 2px solid rgba(65, 75, 90, 1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.test__key-number {
    position: absolute;
    width: 37px;
    height: 37px;
    font-size: 22px;
    display: grid;
    place-items: center;
}

.answer_option {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid rgba(65, 75, 90, 1);
    display: grid;
    place-items: center;
    background-color: rgba(195, 195, 195, 1);
    ;
}

.answer_option p {
    position: absolute;
    font-size: 22px;
}

.test__key-task-grade {
    position: absolute;
    width: 37px;
    height: 37px;
    font-size: 22px;
    left: 291px;
    display: grid;
    place-items: center;
}

.wrong {
    background-color: rgba(184, 32, 32, 1);
    ;
}

.right {
    background-color: rgba(33, 165, 0, 1);
}

.partly {
    background-color: rgba(215, 177, 43, 1);
}

.key_option_a {
    left: 47px;
}

.key_option_b {
    left: 94px;
}

.key_option_c {
    left: 141px;
}

.key_option_d {
    left: 188px;
}

.key_option_e {
    left: 235px;
}

.first_key {
    top: 255px;
    left: 848px;
}

.second_key {
    top: 297px;
    left: 848px;
}

.third_key {
    top: 339px;
    left: 848px;
}

.fourth_key {
    top: 381px;
    left: 848px;
}

.fifth_key {
    top: 423px;
    left: 848px;
}

.sixth_key {
    top: 465px;
    left: 848px;
}

.seventh_key {
    top: 507px;
    left: 848px;
}

.eighth_key {
    top: 549px;
    left: 848px;
}

.ninth_key {
    top: 591px;
    left: 848px;
}

.tenth_key {
    top: 633px;
    left: 848px;
}

.eleventh_key {
    top: 675px;
    left: 848px;
}

.twelfth_key {
    top: 717px;
    left: 848px;
}

.thirteenth_key {
    top: 759px;
    left: 848px;
}

.fourteenth_key {
    top: 801px;
    left: 848px;
}

.fifteenth_key {
    top: 843px;
    left: 848px;
}

.sixteenth_key {
    top: 255px;
    left: 1206px;
}

.seventeenth_key {
    top: 297px;
    left: 1206px;
}

.eighteenth_key {
    top: 339px;
    left: 1206px;
}

.nineteenth_key {
    top: 381px;
    left: 1206px;
}

.twentieth_key {
    top: 423px;
    left: 1206px;
}

.twenty_first_key {
    top: 465px;
    left: 1206px;
}

.twenty_second_key {
    top: 507px;
    left: 1206px;
}

.twenty_third_key {
    top: 549px;
    left: 1206px;
}

.twenty_fourth_key {
    top: 591px;
    left: 1206px;
}

.twenty_fifth_key {
    top: 633px;
    left: 1206px;
}

.twenty_sixth_key {
    top: 675px;
    left: 1206px;
}

.twenty_seventh_key {
    top: 717px;
    left: 1206px;
}

.twenty_eighth_key {
    top: 759px;
    left: 1206px;
}

.twenty_ninth_key {
    top: 801px;
    left: 1206px;
}

.thirtieth_key {
    top: 843px;
    left: 1206px;
}

.thirty_first_key {
    top: 255px;
    left: 1564px;
}

.thirty_second_key {
    top: 297px;
    left: 1564px;
}

.thirty_third_key {
    top: 339px;
    left: 1564px;
}

.thirty_fourth_key {
    top: 381px;
    left: 1564px;
}

.thirty_fifth_key {
    top: 423px;
    left: 1564px;
}

.thirty_sixth_key {
    top: 465px;
    left: 1564px;
}

.thirty_seventh_key {
    top: 507px;
    left: 1564px;
}

.thirty_eighth_key {
    top: 549px;
    left: 1564px;
}

.thirty_ninth_key {
    top: 591px;
    left: 1564px;
}

.fortieth_key {
    top: 633px;
    left: 1564px;
}

.key__configuration__form {
    position: relative;
    width: 1900px;
    height: 942px;
    top: 88px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: rgba(65, 75, 90, 1);
}

.key__configuration__form-title {
    position: absolute;
    left: 45px;
    top: 11px;
    width: 1810px;
    height: 52px;
    font-size: 24px;
    display: grid;
    place-items: center;
}

.key__configuration__form-blackbar {
    background: black;
    width: 1900px;
    height: 50px;
    top: 73px;
    position: absolute;
}

.key__configuration__form-max-score {
    position: absolute;
    top: 791px;
    width: 359px;
    height: 52px;
    font-size: 24px;
    display: grid;
    place-items: center;
}

.save_configuration_button {
    width: 150px;
    height: 60px;
    top: 831px;
    left: 875px;
    position: absolute;
    font-size: 18px;
    text-align: center; 
    border-radius: 10px;
}

.configurable__key {
    position: absolute;
    width: 462px;
    height: 37px;
    border: 2px solid rgba(65, 75, 90, 1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.configurable__key-number {
    position: absolute;
    width: 37px;
    height: 37px;
    font-size: 22px;
    display: grid;
    place-items: center;
}

.configurable__key-option {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid rgba(65, 75, 90, 1);
    display: grid;
    place-items: center;
    cursor: pointer;
    background: rgba(195, 195, 195, 1);
}

.configurable__key-option p {
    position: absolute;
    font-size: 22px;
}

.right_response {
    background-color: rgba(33, 165, 0, 1);
}

.configurable__key-grade {
    position: absolute;
    width: 138px;
    height: 26px;
    font-size: 22px;
    top: 5px;
    left: 282px;
    display: grid;
    place-items: center;
}

.grade_input {
    top: 3px;
    position: absolute;
    width: 27px;
    height: 27px;
    left: 415px;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.first_configurable_key {
    top: 144px;
    left: 11px;
}

.second_configurable_key {
    top: 186px;
    left: 11px;
}

.third_configurable_key {
    top: 228px;
    left: 11px;
}

.fourth_configurable_key {
    top: 269px;
    left: 11px;
}

.fifth_configurable_key {
    top: 311px;
    left: 11px;
}

.sixth_configurable_key {
    top: 353px;
    left: 11px;
}

.seventh_configurable_key {
    top: 395px;
    left: 11px;
}

.eighth_configurable_key {
    top: 437px;
    left: 11px;
}

.ninth_configurable_key {
    top: 479px;
    left: 11px;
}

.tenth_configurable_key {
    top: 521px;
    left: 11px;
}

.eleventh_configurable_key {
    top: 563px;
    left: 11px;
}

.twelfth_configurable_key {
    top: 605px;
    left: 11px;
}

.thirteenth_configurable_key {
    top: 647px;
    left: 11px;
}

.fourteenth_configurable_key {
    top: 689px;
    left: 11px;
}

.fifteenth_configurable_key {
    top: 731px;
    left: 11px;
}

.sixteenth_configurable_key {
    top: 144px;
    left: 483px;
}

.seventeenth_configurable_key {
    top: 186px;
    left: 483px;
}

.eighteenth_configurable_key {
    top: 228px;
    left: 483px;
}

.nineteenth_configurable_key {
    top: 269px;
    left: 483px;
}

.twentieth_configurable_key {
    top: 311px;
    left: 483px;
}

.twenty-first_configurable_key {
    top: 353px;
    left: 483px;
}

.twenty-second_configurable_key {
    top: 395px;
    left: 483px;
}

.twenty-third_configurable_key {
    top: 437px;
    left: 483px;
}

.twenty-fourth_configurable_key {
    top: 479px;
    left: 483px;
}

.twenty-fifth_configurable_key {
    top: 521px;
    left: 483px;
}

.twenty-sixth_configurable_key {
    top: 563px;
    left: 483px;
}

.twenty-seventh_configurable_key {
    top: 605px;
    left: 483px;
}

.twenty-eighth_configurable_key {
    top: 647px;
    left: 483px;
}

.twenty-ninth_configurable_key {
    top: 689px;
    left: 483px;
}

.thirtieth_configurable_key {
    top: 731px;
    left: 483px;
}

.thirty-first_configurable_key {
    top: 144px;
    left: 955px;
}

.thirty-second_configurable_key {
    top: 186px;
    left: 955px;
}

.thirty-third_configurable_key {
    top: 228px;
    left: 955px;
}

.thirty-fourth_configurable_key {
    top: 269px;
    left: 955px;
}

.thirty-fifth_configurable_key {
    top: 311px;
    left: 955px;
}

.thirty-sixth_configurable_key {
    top: 353px;
    left: 955px;
}

.thirty-seventh_configurable_key {
    top: 395px;
    left: 955px;
}

.thirty-eighth_configurable_key {
    top: 437px;
    left: 955px;
}

.thirty-ninth_configurable_key {
    top: 479px;
    left: 955px;
}

.fortieth_configurable_key {
    top: 521px;
    left: 955px;
}

.forty-first_configurable_key {
    top: 563px;
    left: 955px;
}

.forty-second_configurable_key {
    top: 605px;
    left: 955px;
}

.forty-third_configurable_key {
    top: 647px;
    left: 955px;
}

.forty-fourth_configurable_key {
    top: 689px;
    left: 955px;
}

.forty-fifth_configurable_key {
    top: 731px;
    left: 955px;
}

.forty-sixth_configurable_key {
    top: 144px;
    left: 1427px;
}

.forty-seventh_configurable_key {
    top: 186px;
    left: 1427px;
}

.forty-eighth_configurable_key {
    top: 228px;
    left: 1427px;
}

.forty-ninth_configurable_key {
    top: 269px;
    left: 1427px;
}

.fiftieth_configurable_key {
    top: 311px;
    left: 1427px;
}

.fifty-first_configurable_key {
    top: 353px;
    left: 1427px;
}

.fifty-second_configurable_key {
    top: 395px;
    left: 1427px;
}

.fifty-third_configurable_key {
    top: 437px;
    left: 1427px;
}

.fifty-fourth_configurable_key {
    top: 479px;
    left: 1427px;
}

.fifty-fifth_configurable_key {
    top: 521px;
    left: 1427px;
}

.fifty-sixth_configurable_key {
    top: 563px;
    left: 1427px;
}

.fifty-seventh_configurable_key {
    top: 605px;
    left: 1427px;
}

.fifty-eighth_configurable_key {
    top: 647px;
    left: 1427px;
}

.fifty-ninth_configurable_key {
    top: 689px;
    left: 1427px;
}

.sixtieth_configurable_key {
    top: 731px;
    left: 1427px;
}
