body {
    background: #E7EBF0E5;
    margin: 0px;
    font-family: Roboto, 'Source Sans Pro';
}

.button {
    background-color: #E7EBF0;
    color: black;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Roboto, 'Source Sans Pro';
    border: none;
}

.button:hover {
    background-color: #BBBBBB;
    border-color: #BBBBBB;
}

.header {
    width: 1920px;
    height: 145px;
    position: relative;
}

.add_test_button {
    width: 224px;
    height: 60px;
    top: 44px;
    left: 1312px;
    border-radius: 100px;
    position: absolute;
}

.header__profile {
    width: 300px;
    height: 145px;
    left: 1572px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header__profile-image {
    width: 118.56px;
    height: 115.98px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.header__profile-image img {
    width: 118.56px;
    height: 115.98px;
}

.header__profile-user-data {
    width: 72.81px;
    height: 59.65px;
    position: absolute;
    top: 44px;
    left: 192px;
}
